# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
.env
.npm
*.log

# User Specific (Excluded as requested)
*.csv
*.xlsx
*.xls
*.xlsm
*.gsheet
